In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
from scipy.stats import ttest_1samp,ttest_ind,ttest_rel

## Testing the Effect of a Drug on Blood Pressure

A researcher wants to test whether a new drug has a significant effect on lowering blood pressure. The researcher measures the blood pressure of two groups of people: one group takes the drug, and the other group takes a placebo. The blood pressures are recorded, and the researcher wants to compare the means of the two groups.

Group A (Drug): [120, 125, 118, 130, 122, 115, 119]
    
Group B (Placebo): [132, 128, 135, 140, 138, 136, 130]

Test whether the average blood pressure is different between the two groups

In [61]:
GroupA = [120, 125, 118, 130, 122, 115, 119]
GroupB = [132, 128, 135, 140, 138, 136, 130]

In [11]:
MuD = np.mean([120, 125, 118, 130, 122, 115, 119])
MuD

121.28571428571429

In [9]:
MuP = np.mean([132, 128, 135, 140, 138, 136, 130])
MuP

134.14285714285714

In [55]:
# H0: MuD = MuP
# Ha: MuD < MuP  (OR MuP-MuD>0)
# Left Tail Test
# Two Sample --- Independent T-Test

In [63]:
tstat,P_value = ttest_ind(GroupB,GroupA,alternative='greater')

In [65]:
P_value

0.00011760340733144565

P_value is less than 0.05, Reject the H0

## Comparing Average Monthly Sales Between Two Stores

A company wants to compare the average monthly sales of two of its stores over the last year. The sales (in $1000s) for store A and store B are recorded as:

Store A: [200, 210, 195, 220, 205, 215, 190, 225, 210, 200, 215, 205]
    
Store B: [180, 190, 185, 200, 195, 185, 210, 195, 200, 190, 205, 195]
    
Test whether the average monthly sales are significantly different between the two stores.

In [6]:
StoreA = [200, 210, 195, 220, 205, 215, 190, 225, 210, 200, 215, 205]
StoreB = [180, 190, 185, 200, 195, 185, 210, 195, 200, 190, 205, 195]

In [8]:
MuA = np.mean([200, 210, 195, 220, 205, 215, 190, 225, 210, 200, 215, 205])
MuA

207.5

In [10]:
MuB = np.mean([180, 190, 185, 200, 195, 185, 210, 195, 200, 190, 205, 195])
MuB

194.16666666666666

In [ ]:
# Hypothesis Formulation:
# H0: MuA = MuB
# Ha: MuA != MuB
# Two Tailed Test
# Two Sample Test --- Independent

In [12]:
tstat,P_value = ttest_ind(StoreA,StoreB)

In [14]:
tstat

3.4112114616897697

In [71]:
P_value

0.0025034055891960906

P_value is less than 0.05, Null will Go ---- Reject H0

## Evaluating the Effectiveness of a Weight Loss Program

A nutritionist wants to determine if a specific weight loss program is effective. A group of individuals is weighed at the beginning of the program and again after following the program for three months. The nutritionist collects the weight measurements to compare the two conditions.

Initial Weights (kg): [85, 88, 75, 90, 95, 80, 85, 86, 87, 89]
    
Post-Program Weights (kg): [80, 85, 73, 88, 90, 78, 82, 83, 84, 86]
    
Test whether the weight loss program results in a statistically significant reduction in weight.

In [75]:
Initial_Weights = [85, 88, 75, 90, 95, 80, 85, 86, 87, 89]
Post_Program = [80, 85, 73, 88, 90, 78, 82, 83, 84, 86]

In [17]:
Mu_Initial = np.mean([85, 88, 75, 90, 95, 80, 85, 86, 87, 89])
Mu_Initial

86.0

In [19]:
Mu_post = np.mean([80, 85, 73, 88, 90, 78, 82, 83, 84, 86])
Mu_post

82.9

In [77]:
# Hypothesis Formulation:
# H0: Mu_Post < Mu_Initial
# Ha: Mu_Post >= Mu_Initial
# Right Tailed Test
# Two Sample Test --- Related

In [79]:
tstat,P_value = ttest_rel(Initial_Weights,Post_Program,alternative='greater')

In [83]:
1-P_value

0.9999953560796521

P_value is greater than 0.05, Hence Null will Fly ---- Failed to Reject H0

## Effect of a New Training Regimen on Athletic Performance
A sports coach wants to know if a new training regimen has improved the performance of a group of athletes. The athletes' performance is measured using two metrics: once during the standard training regimen and once after using the new training regimen.

Standard Training: [12.5, 13.0, 11.8, 12.2, 12.7, 13.1]

New Training: [11.8, 12.3, 11.2, 11.9, 12.1, 12.5]

Test whether the new training regimen significantly improves athletic performance.

In [85]:
Standard_Training = [12.5, 13.0, 11.8, 12.2, 12.7, 13.1]
New_Training = [11.8, 12.3, 11.2, 11.9, 12.1, 12.5]

In [21]:
Mu_Std_Training = np.mean([12.5, 13.0, 11.8, 12.2, 12.7, 13.1])
Mu_Std_Training

12.549999999999999

In [23]:
Mu_New_Training = np.mean([11.8, 12.3, 11.2, 11.9, 12.1, 12.5])
Mu_New_Training

11.966666666666667

In [ ]:
# Hypothesis Formulation:
# H0: Mu_New_Training - Mu_Std_Training =0 --- Md<=0

## Titan Case study

The Titan Insurance Company has just installed a new incentive payment scheme for its life policy sales-force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference. Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month.

Titan's new scheme is that the sales force receive low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company but they are looking for sales increases to compensate for it. The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.

To test the effectiveness of the scheme, Titan has taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover).

At the 0.05 level of significance, can we are required to statistically conclude that the new incentive scheme has led to a significant increase in the monthly sales output of the salesforce?

In [26]:
# Load the dataset
df = pd.read_csv('Titan+Case+Study-1.csv')

In [29]:
df.describe()

       Salesperson  Old Scheme  New Scheme
count    30.000000   30.000000   30.000000
mean     15.500000   68.033333   72.033333
std       8.803408   20.455980   24.062395
min       1.000000   28.000000   32.000000
25%       8.250000   54.000000   55.000000
50%      15.500000   67.000000   74.000000
75%      22.750000   81.500000   85.750000
max      30.000000  110.000000  122.000000

### Describe the statistical test you would apply to this data to determine whether new scheme has significantly raised outputs?

Two Sample Test --- Paired 
T-Test

In [ ]:
# Hypotthesis formulation:
# H0: Mu_New_Scheme - Mu_Old_Scheme = 0 ---- Md <= 0
# Ha: Mu_New_Scheme - Mu_Old_Scheme > 0 ---- Md > 0
# One Tail --- Right Tail Test

In [28]:
tstat,P_value = ttest_rel(df['New Scheme'],df['Old Scheme'],alternative='greater')

In [30]:
tstat

1.5559143823544377

In [34]:
tcrit=stats.t.ppf(0.95,29)
tcrit

1.6991270265334972

In [36]:
P_value

0.06528776980668831

P_value is greater than 0.05, Null will Fly ---- Failed to reject H0

### Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000. what is:

### Assuming this as your population parameter
- The probability of a type 1 error?
- The probability of a type 2 error?
- The power of the test?

In [ ]:
alpha=0.05 # Type 1 Error

In [38]:
df['Diff'] = df['New Scheme'] - df['Old Scheme']

In [40]:
df.head(1)

   Salesperson  Old Scheme  New Scheme  Diff
0            1          57          62     5

In [42]:
df.describe()

       Salesperson  Old Scheme  New Scheme       Diff
count    30.000000   30.000000   30.000000  30.000000
mean     15.500000   68.033333   72.033333   4.000000
std       8.803408   20.455980   24.062395  14.081046
min       1.000000   28.000000   32.000000 -34.000000
25%       8.250000   54.000000   55.000000  -6.750000
50%      15.500000   67.000000   74.000000   7.500000
75%      22.750000   81.500000   85.750000  16.000000
max      30.000000  110.000000  122.000000  25.000000

In [44]:
SE = 14.081046/np.sqrt(30)

In [46]:
### Approah 1 --- Calculating critical
Dcrit = stats.t.ppf(0.95,29,loc=0,scale=SE)
Dcrit

4.368176094378901

In [48]:
Beta=stats.t.cdf(4.37,29,loc=5,scale=SE)
Beta

0.4040692488441061

In [58]:
# Power of Test = 1- Beta
PowTest = 1-Beta
PowTest

0.5959307511558939

In [60]:
### Approah 2 --- Finding Tstat using formula
tstat = (Dcrit-5)/SE 
tstat

-0.24576597894765126

In [64]:
beta_2 = stats.t.cdf(tstat,29)
beta_2

0.4037972419222782

In [66]:
### Approah 3 --- Using Function
from statsmodels.stats.power import tt_solve_power

In [72]:
Pow_Test = tt_solve_power(effect_size=5/14.081046,nobs=30,alpha=0.05,power=None,alternative='larger')
Pow_Test

0.6003938115474269

In [74]:
Beta_3 = 1-Pow_Test
Beta_3

0.3996061884525731

Both Beta and Power of Test cannot be found in Real Time as we need Population Parameters to calculate them.

### What sample size would make the probabilities of type 1 and type 2 errors equal?

In [ ]:
# We Need: Alpha = Beta

In [76]:
tt_solve_power(effect_size=5/14.081046,nobs=None,alpha=0.05,power=0.95,alternative='larger')

87.20337749136235